<h4>Capacidad de Aprendizaje</h4>

<div class="row">
  <div class="col-md-6">
    <p>Frecuentemente se te ocurren ideas novedosas</p>
  </div>
  <div class="col-md-6">
    <%= f.select :l61, [["Completamente de acuerdo", 4], ["De acuerdo", 3], ["Ni en acuerdo ni en desacuerdo", 2], ["En desacuerdo", 1]], {:prompt => 'Selecciona una opción'}, {:required => true}%>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <p>Lees, investigas o estudias sobre tema de tu especialidad</p>
  </div>
  <div class="col-md-6">
    <%= f.select :l62, [["Completamente de acuerdo", 4], ["De acuerdo", 3], ["Ni en acuerdo ni en desacuerdo", 2], ["En desacuerdo", 1]], {:prompt => 'Selecciona una opción'}, {:required => true}%>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <p>Has implementado cambios importantes en tu trabajo durante los últimos 6 meses</p>
  </div>
  <div class="col-md-6">
    <%= f.select :l63, [["Completamente de acuerdo", 4], ["De acuerdo", 3], ["Ni en acuerdo ni en desacuerdo", 2], ["En desacuerdo", 1]], {:prompt => 'Selecciona una opción'}, {:required => true}%>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <p>Aplicas en tu trabajo cotidiano los nuevos aprendizajes que adquieres</p>
  </div>
  <div class="col-md-6">
    <%= f.select :l64, [["Completamente de acuerdo", 4], ["De acuerdo", 3], ["Ni en acuerdo ni en desacuerdo", 2], ["En desacuerdo", 1]], {:prompt => 'Selecciona una opción'}, {:required => true}%>
  </div>
</div>