<h4>Comunicación</h4>

<div class="row">
  <div class="col-md-6">
    <p>Tienes capacidad para escuchar</p>
  </div>
  <div class="col-md-6">
    <%= f.select :l71, [["Completamente de acuerdo", 4], ["De acuerdo", 3], ["Ni en acuerdo ni en desacuerdo", 2], ["En desacuerdo", 1]], {:prompt => 'Selecciona una opción'}, {:required => true}%>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <p>Para lograr una comunicación efectiva te fijas en aspectos verbales y no verbales</p>
  </div>
  <div class="col-md-6">
    <%= f.select :l72, [["Completamente de acuerdo", 4], ["De acuerdo", 3], ["Ni en acuerdo ni en desacuerdo", 2], ["En desacuerdo", 1]], {:prompt => 'Selecciona una opción'}, {:required => true}%>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <p>Expresas tus ideas con claridad y coherencia</p>
  </div>
  <div class="col-md-6">
    <%= f.select :l73, [["Completamente de acuerdo", 4], ["De acuerdo", 3], ["Ni en acuerdo ni en desacuerdo", 2], ["En desacuerdo", 1]], {:prompt => 'Selecciona una opción'}, {:required => true}%>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <p>Al expresar tus ideas causas un impacto en tus interlocutores</p>
  </div>
  <div class="col-md-6">
    <%= f.select :l74, [["Completamente de acuerdo", 4], ["De acuerdo", 3], ["Ni en acuerdo ni en desacuerdo", 2], ["En desacuerdo", 1]], {:prompt => 'Selecciona una opción'}, {:required => true}%>
  </div>
</div>