<h4>Tolerancia a la frustración</h4>

<div class="row">
  <div class="col-md-6">
    <p>Reaccionas con apertura y serenidad cuando tu jefe te dice que no está de acuerdo con tus propuestas</p>
  </div>
  <div class="col-md-6">
    <%= f.select :l41, [["Completamente de acuerdo", 4], ["De acuerdo", 3], ["Ni en acuerdo ni en desacuerdo", 2], ["En desacuerdo", 1]], {:prompt => 'Selecciona una opción'}, {:required => true}%>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <p>Consideras que estás en tu zona de confort</p>
  </div>
  <div class="col-md-6">
    <%= f.select :l42, [["Completamente de acuerdo", 1], ["De acuerdo", 2], ["Ni en acuerdo ni en desacuerdo", 3], ["En desacuerdo", 4]], {:prompt => 'Selecciona una opción'}, {:required => true}%>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <p>Te sientes incómodo o atacado cuando te contradicen</p>
  </div>
  <div class="col-md-6">
    <%= f.select :l43, [["Completamente de acuerdo", 1], ["De acuerdo", 2], ["Ni en acuerdo ni en desacuerdo", 3], ["En desacuerdo", 4]], {:prompt => 'Selecciona una opción'}, {:required => true}%>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <p>Has superado los fracasos que has tenido en proyectos a los que has invertido tiempo, esfuerzo, e interés</p>
  </div>
  <div class="col-md-6">
    <%= f.select :l44, [["Completamente de acuerdo", 4], ["De acuerdo", 3], ["Ni en acuerdo ni en desacuerdo", 2], ["En desacuerdo", 1]], {:prompt => 'Selecciona una opción'}, {:required => true}%>
  </div>
</div>